{% extends "base.html" %}

{% block content %}

<h1>Todo List</h1>
    <div class="listcontainer">
    </div>

<script>
    $(document).ready(function() {
        axiosInstance.get("/api/todo/list/")
        .then(function(response){
            // console.log(response.data);
            for (var i = 0; i < response.data.length; i++){
                var todo = response.data[i]
                // console.log(todo);
                var todoElement = `
                    <div class="todo-item">
                        <p><strong>Name:</strong> ${todo.name}</p>
                        <p><strong>Description:</strong> ${todo.description}</p>
                        <p><strong>Complete:</strong> ${todo.complete}</p>
                        <p><strong>Completed At:</strong> ${todo.completed_at}</p>
                        <p><strong>Experience Points:</strong> ${todo.exp}</p>
                    </div>
                `
                $(".listcontainer").append(todoElement)
            }
        })
        .catch(function(error){
            console.log(error)
        })
    })
</script>

{% endblock %}